*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
.time {
  width: 11vw;
  text-align: center;
  height: 10vw;
  border-radius: 2vw;
  border: white 2px solid;
  background-color: black;
  margin: 1vw;
  color: white;
  font-size: 3vw;
}
.time::placeholder {
  color: white;
}

button {
  border-radius: 10px;
  border: none;
  font-size: 3vw;
  padding-inline: 10vw;
  padding-block: 1vw;
  background-color: white;
  color: black;
  margin-left: 1vw;

}

button:hover {
  background-color: inherit;
  color: white;
}

.stop-watch-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}